<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <listeners>
        <listener class-name="com.qa.listeners.TestListener"/>
    </listeners>
    <test name="Test">
        <parameter name="emulator" value="false"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="deviceName" value="iPhone 11"/>
        <classes>
            <class name="com.qa.tests.ProductTests">
                <methods>
                    <include name="validateProductOnProductsDetailsPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>